<html>
 <head>
  <title>Character Select</title>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}venture/css/base.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}venture/fonts/stylesheet.css" />
 </head>
 <body>
 <div class="banner">
		<h1>Venture</h1>
	</div>
	<div class="form">
  <form name="chooseform" id="chooseform" action="/choose/" method="POST">
   {% csrf_token %}
   {% if user.person_set %}
    <p>
     <label for="charselect">Choose your Character:</label>
     <select name="pid" id="pid">
      {% for char in user.person_set.all %}
       <option value="{{ char.id }}">{{ char.name }}</option>
      {% endfor %}
     </select>
   {% endif %}
   <h3>Create a New Character</h3>
   <p>
   <label for="name">Character Name:</label>
   <input type="text" name="name" id="name" value="" />
   <input type="submit" value="Start Game" />
  </form>
  </div>
 </body>
</html>