
body {
	font-family: monospace;
}

h1 {
	margin:20px;
}

h2 {
	font-family: notalot35Regular;
	font-size:64px;
	color: #191970;
	margin:0px;
	padding:0px;
}

div.banner {
	text-align:right;
	color:white;
	background-color: #191970;
	margin:0;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
}

div.form {
	margin-top:150px;
	text-align:center;
}

.line {
	margin-top:10px;
	margin-bottom: 10px;
	display:block;
}